<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/index.css"/>
    <style>
        .download{
            display: block;

            width:120px;
            height: 35px;
            border-radius: 5px;
            border: 1px solid #D0011B;
            text-align: center;
            margin-left: 50px;
            font-weight: bold;
            color: #D0011B;
            cursor: pointer;

        }
        span{
            float: right;
            line-height: 35px;
        }
        .news-list-item{
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<div id="article">
    <div v-show="show">
<div class="news-list" v-for="item in resource">
    <div class="news-list-item clearfix">

        <div class="col-xs-10">
            <p class="title">{{item.name}}</p>
            <div class="info">
              {{item.description}}
            </div>
            <template v-if="item.address == '1'">
                <span class="download"><a href="#" style="color:#D0011B">请登录，再下载!</a></span><span><strong>上传时间:</strong>{{item.time}}</span>
            </template>
            <template v-else>
                <span class="download"><a :href="item.address" style="color:#D0011B">立即下载</a></span><span><strong>上传时间:</strong>{{item.time}}</span>
            </template>



        </div>
    </div>
    </div>
     </div>
    <div v-show="director">
        <h2 class="news-title">相关知识指南</h2>
        <div class="news-status">
            <div class="label label-default">java相关知识</div>
        </div>
        <div class="news-content">
            <blockquote>      <!--内容概括-->
                <p>软件资源、优秀网站和电子书下载</p>
            </blockquote>

            <div>相关资源包括相关软件资源、优秀网站和电予书下载等。给使用者推荐一些流行，优秀。业界认可的软件，网站，电子书等资源</div>

        </div>

    </div>

</div>
<script src="Vue/vue.min.js"></script>
    <script src="Vue/vue-resource.min.js"></script>
<script>
    new Vue({
        el:'#article',
        data:{
            resource:[],
            id:'',
            show:false,
            director:true,



        },
        created:function(){

           this.id = this.GetQueryString("id");
            this.getInfo();

        },
        methods:{
            GetQueryString:function(name){
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = decodeURI(window.location.search).substr(1).match(reg);
                if (r != null) {return unescape(r[2]);}else{ return null;}
            },
            getInfo:function(){
                console.log("123");
                console.log(this.id);
                if(this.id != null){
                    this.director = false;
                    this.show = true;
                }
                this.$http.post('https://bingqiangzhou.cn/trainingapi/Resources/GetResources?', {typeId: this.id,
                    page: 1},{}).then(function (result) {
                    this.resource = result.data.resources;
                    console.log("11111");
                    console.log(this.resource);
                    this.getAddress();
                })
            },
            getAddress:function(){
                for(var i = 0;i<this.resource.length;i++){
                   var value = this.resource[i].address;
                    if(this.getCookie("username") != ""){
                        if(value.indexOf("http") != 0)
                        {
                            this.resource[i].address = "https://bingqiangzhou.cn/training/AppResources/"+value;
                        }
                    }
                    else
                    {
                        this.resource[i].address = '1'
                    }
                }
            },
            getCookie:function(name){
                var strCookie=unescape(document.cookie);
                var arrCookie=strCookie.split("; ");
                for(var i=0;i<arrCookie.length;i++){
                    var arr=arrCookie[i].split("=");
                    if(arr[0]==name)return arr[1];
                }
                return "";
            },

        }
    })
</script>
</body>
</html>